:root {
  --bg-color: #EFF2F6;
  --card-color: #DDE4EB;
  --light-color: #C9D3DC;
  --text-color: #1A191B;
  --primary-color: #238B6D;
  --primary-color-hover: #1D7359;
  --secondary-color: #2F8FBA;
  --secondary-color-hover: #257499;
  --accents: #fa824c;
}

[data-theme="dark"] {
  --bg-color: #1a191b;
  --card-color: #2f2e30;
  --light-color: #454446;
  --text-color: #F9F9F9;
  --primary-color: #15875f;
  --primary-color-hover: #5fb38d;
  --secondary-color: #15626a;
  --secondary-color-hover: #3a8390;
}

html {
  background-color: var(--bg-color);
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
}

main {
  padding: 20px;
  margin-top: 3vh;
}

/* Headings */
h1, h2, h3 {
  margin: 0;
  padding-bottom: 10px;
  color: var(--text-color);
}

/* Text */
p {
  margin: 0 0 20px 0;
  color: var(--text-color);
}

a {
  text-decoration: none;
  color: var(--text-color);
}


/* Form Section for contact */
.form-contact {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: var(--card-color);
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.form-contact input {
  padding: 12px;
  margin: 8px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.form-contact input[type="email"],
.form-contact input[type="title"],
.form-contact input[type="text"],
.form-contact textarea {
  background-color: #fff;
  color: var(--text-color);
}

.form-contact select {
  background-color: #fff;
}

.form-contact input:focus,
.form-contact select:focus {
  border-color: var(--primary-color);
  outline: none;
}

.form-contact button[type="submit"] {
  padding: 12px 20px;
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s;
}

.form-contact button[type="submit"]:hover {
  background-color: var(--primary-color-hover);
}


/* Buttons */
.btn-primary {
  display: inline-block;
  background-color: var(--primary-color);
  padding: 12px 20px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  transition: background-color 0.3s, color 0.3s;
}

.btn-primary:hover {
  background-color: var(--primary-color-hover);
  color: var(--bg-color);
}

.btn-secondary {
  display: inline-block;
  background-color: var(--secondary-color);
  padding: 12px 20px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  transition: background-color 0.3s, color 0.3s;
}

.btn-secondary:hover {
  background-color: var(--secondary-color-hover);
  color: var(--bg-color);
}

.theme-toggle {
  background-color: var(--primary-color);
  color: var(--text-color);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.theme-toggle:hover {
  background-color: var(--secondary-color);
}

/* Hero Section */
.hero {
  background-color: var(--light-color);
  padding: 40px 20px;
  text-align: center;
}

.hero-content {
  max-width: 600px;
  margin: auto;
}

/* About Section */
.about {
  margin: 40px 0;
  padding: 20px;
  background-color: var(--card-color);
}

/* Opportunities Section */
.opportunities ul {
  list-style-type: none;
  padding: 0;
}

.opportunities li {
  margin: 20px 0;
  padding: 20px;
  background-color: var(--card-color);
  border-radius: 10px;
}

.opportunities h3 {
  margin: 0 0 10px;
}

/* Contact Section */
.contact {
  background-color: var(--card-color);
  padding: 40px 20px;
  text-align: center;
}

.nav-prompt {
  text-align: center;
  margin-top: 20px;
}

.nav-prompt p {
  color: var(--text-color);
}

.link-button {
  color: var(--primary-color);
  cursor: pointer;
  font-weight: 600;
  text-decoration: underline;
}

.link-button:hover {
  color: var(--secondary-color);
}

/* Form Section for Sign-Up/Log-In */
.auth-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: var(--card-color);
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.auth-form input,
.auth-form select {
  padding: 12px;
  margin: 8px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.auth-form input[type="email"],
.auth-form input[type="password"],
.auth-form input[type="text"],
.auth-form input[type="date"] {
  background-color: #fff;
  color: var(--text-color);
}

.auth-form select {
  background-color: #fff;
}

.auth-form input:focus,
.auth-form select:focus {
  border-color: var(--primary-color);
  outline: none;
}

.auth-form button[type="submit"] {
  padding: 12px 20px;
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s;
}

.auth-form button[type="submit"]:hover {
  background-color: var(--primary-color-hover);
}

.group {
  display: flex;
  flex-direction: column;
}