:root {
    --bg-color: #F0F4FA;
    --card-color: #E7EEF8;
    --light-color: #D9E4F2;
    --text-color: #1E1E2C;
    --primary-color: #3A88E9;
    --primary-color-hover: #316EC8;
    --secondary-color: #f3a200;
    --secondary-color-hover: #d98200;
  }
  
  [data-theme="dark"] {
    --bg-color: #1a191b;
    --card-color: #2f2e30;
    --light-color: #454446;
    --text-color: #F9F9F9;
    --primary-color: #15875f;
    --primary-color-hover: #5fb38d;
    --secondary-color: #15626a;
    --secondary-color-hover: #3a8390;
  }

nav {
    display: flex;
    justify-content: center;
    background: var(--primary-color);
    padding-left: 2vw;
    position: fixed;
    top: 0; 
    left: 0;
    width: 100vw; 
    z-index: 1000; 
}

a{
    text-decoration: none;
}

.NavLinks {
    height: auto;
    position: relative;
}

.logo {
    color: var(--text-color);
}

nav ul {
    display: flex;
    width: 80%;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    margin: 0;
    margin-right: -4vw;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 1vw;
    justify-content: right;
}

nav ul li a {
    text-decoration: none;
    font-weight: bold;
    color: var(--text-color);
}

nav ul li a:hover {
    color: var(--secondary-color);
    transition: .3s;
}
  
.MobileNavigation {
    display: none;
}

.HamburgerMenu {
    position: absolute;
    right: 2%;
    cursor: pointer;
    margin-right: 5%;
}

.DesktopNavigation {
    justify-content: space-between;
    align-items: center;
    width: 100%;
    filter: drop-shadow(0px 5px 10px rgba(0,0,0,0.3));
}

@media (max-width: 768px) {
    .DesktopNavigation {
        display: none;
    }

    .MobileNavigation {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: auto;
        background-color: var(--primary-color);
        width: 100vw;
        filter: drop-shadow(0px 5px 10px rgba(0,0,0,0.3));
    }

    .NavLinks ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        gap: 60px;
        right: 0;
        top: 70px;
        height: 93vh;
        width: 100%;
        background: var(--primary-color);
        margin: 0;
        padding: 0;
        padding-top: 10vh;
        z-index: 10;
    }


nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 0.5vh;
}

    .MobileNavigation{
        display: flex;
    }

    .NavLinks {
        display: flex;
        flex-direction: column;
        height: auto;
        position: absolute;
        margin-right: 0;
    }
}
