/* For mobile devices, no additional styles */
body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.app-container {
  width: 100vw;
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
}

/* On desktop, wrap the app in a "smartphone-like" container */
@media (min-width: 500px) {
  body {
    display: flex;
    background-color: #808080;
    height: 100vh;
    margin: 0;
  }

  .app-container {
    width: 375px;
    height: 700px;
    border: 16px solid #000;
    border-radius: 36px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    background-color: var(--bg-color);
    position: fixed; /* Keeps it fixed on the screen */
    top: 50%; /* Centers vertically */
    left: 50%; /* Centers horizontally */
    transform: translate(-50%, -50%); /* Adjust for exact center */
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  /* NavBar should be fixed at the top inside the container */
  .app-container .navbar {
    position: fixed; /* Sticks the navbar to the top */
    top: 0;
    z-index: 1; /* Ensure it stays on top of the content */
    background-color: var(--bg-color); /* Ensure it blends well */
  }
}
